{% extends "base.html" %}
{%load static%}
{% block content %}
    {%if messages %}
        <div class="messages">
            {% for m in messages%}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{m}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {%endfor%}

        </div>
    {%endif%}
<div class="carousel" mask>
	<article>
    <img src="{% static 'mystatic/romanccard.jpg' %}" class="card-img-top" alt="...">
		<h2>Romanc</h2>
		<div>
      <p></p>
    <a href="{% url 'Products:categoray_name' 'Romance' %}" class="btn btn-primary">Go to romantic books</a> 
		</div>
	</article>

	<article>
    <img src="{% static 'mystatic/nonfction.jpg' %}" class="card-img-top" style="height: 200px; ;">
		<h2>Non-Fiction</h2>
		<div>
      <p></p>
    <a href="{% url 'Products:categoray_name' 'Non-Fiction' %}" class="btn btn-primary">Go to Non-Fiction books</a>
		</div>
	</article>

	<article>
  <img src="{% static 'mystatic/fiction.jpg' %}" class="card-img-top" alt="...">
		<h2>Fiction</h2>
		<div>
      <p></p>
      <a href="{% url 'Products:categoray_name' 'Fiction' %}"  class="btn btn-primary">Go to Fiction books</a>
		</div>
	</article>

	<article>
    <img src="{% static 'mystatic/mystery.jpg' %}" class="card-img-top" alt="...">
		<h2>Mystery</h2>
		<div>
      <p></p>
      <a href="{% url 'Products:categoray_name' 'Mystery' %}" class="btn btn-primary">Go to Mystery books</a>
		</div>
	</article>

	<article>
    <img src="{% static 'mystatic/clasic.jpg' %}" class="card-img-top" alt="...">
		<h2>Classics</h2>
		<div>
      <p></p>
      <a href="{% url 'Products:categoray_name' 'Classics' %}" class="btn btn-primary">Go to Classics books</a>
		</div>
	</article>



</div>
{% endblock %}
