Django==5.2.7
gunicorn==23.0.0
whitenoise==6.11.0

djangorestframework==3.16.1
django-bootstrap5==25.2
django-filter==25.2

pillow==11.3.0
python-dotenv==1.2.1
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.2

asgiref==3.9.2
urllib3==2.5.0
idna==3.11
charset-normalizer==3.4.4
certifi==2025.10.5