{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .para-text {
    line-height: 2rem;
    text-align: justify;
  }
</style>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3> About Us </h3>
                 <p class="para-text">
                Welcome to LIBOHUB website!
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>

{%endblock%}