{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
  .para-text {
    line-height: 2rem;
    text-align: justify;
  }
</style>
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3> About Us </h3>
                 <p class="para-text">
                    LIBOHUB is an online bookstore created to make reading accessible and 
                    enjoyable for everyone. We offer a wide collection of books across all genres 
                    — from timeless classics and modern fiction to academic resources 
                    and self-improvement titles.
                </p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">

            </div>
        </div>
    </div>
</section>

{%endblock%}