{% extends "base.html" %}
{% block content %}
  <h1>Books{% if category %} in {{ category|title }}{% endif %}</h1>

  {% if products %}
  <div class="card-container">
    {% for product in products %}
    <div class="card">

      <div class="tilt">
        <div class="img">
          {% if product.imag %}
            <img src="{{ product.imag.url }}" alt="{{ product.name }}" style="height: 300px; object-fit: cover;">
          {% else %}
            <img src="https://via.placeholder.com/200x200" alt="No Image">
          {% endif %}
        </div>
      </div>

      <div class="info">
        <h2 class="title">{{ product.name }}</h2>
        <p class="desc">{{ product.description }}</p>
        <p class="price">price: {{product.price}}$</p>
        <p class="stock">in stock: {{product.stock}}</p>

        <div class="bottom">
          <form action="{% url 'Products:toggle_favorite' product.id %}" method="post" style="display:inline;">
            {% csrf_token %}
            {% if product in user.favorite_book.all %}
              <button type="submit" class="btn btn-warning">Remove from Favorite</button>
            {% else %}
              <button type="submit" class="btn btn-primary">Add to Favorite</button>
            {% endif %}
          </form>
        </div>

        <div class="bottom">
          <a href="{% url 'Products:edit' product.id %}" class="btn btn-secondary">Edit</a>
          <a href="{% url 'Products:delete' product.id %}" class="btn btn-danger">Delete</a>
          <a href="{% url 'Products:comment_on_product' product.id %}" class="btn btn-info">Comments</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
    <p>No books found.</p>
  {% endif %}
{% endblock %}
